.podcastContent {
  background-color: white; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 22.63px;
  height:100vh;
  width: 100%;
  margin:0;
  background-repeat:no-repeat;
  position: fixed;
  overflow-y: scroll;
}

.resultsContent {
  margin-top: 18%; 
  margin-bottom: 0px; 
  margin-left: 60px;
}

.resultsCounter {
  margin-top: 10%;
  margin-left: -70%;
}

.resultsBackground {
  background-color: white; 
}

.resultsBackground .resultsBackground2 {
  position: absolute; 
}

.podcastsContainer {
  background: #F2F2F2;
}

.resultsSearch {
  margin-left: 133%;
  width: 297%; 
}


/*Media queries- mobile responsivity*/
/*Medium size*/
@media all and (min-width: 760px) and (max-width: 1200px) {
  .resultsContent {
    width: 100%;
    margin-top: 20%;
    margin-left: 0%; 
  }

  .resultsCounter {
    margin-top: 20%; 
    margin-left: 0%;
    width: 100%; 
  }

  .header {
    position: sticky; 
  }
}

/*Small size*/
@media all and (min-width: 601px) and (max-width: 759px) {
    .resultsContent {
      width: 100%;
      margin-top: 40%;
      margin-left: 0%; 
    }
  
    .resultsCounter {
      margin-top: 60%; 
      margin-left: 0%;
      width: 100%; 
    }
  
    .header {
      position: sticky; 
    }
  }

  /*Pixel 2*/
@media all and (min-width: 400px) and (max-width: 600px) {
  .resultsContent {
    width: 100%;
    margin-top: 45%;
    margin-left: 0%; 
  }

  .resultsCounter {
    margin-top: 70%; 
    margin-left: 0%;
    width: 100%; 
  }

  .header {
    position: sticky; 
  }
}

/*Extra small size*/
@media all and (min-width: 286px) and (max-width: 399px) {
  .resultsContent {
    width: 100%;
    margin-top: 50%;
    margin-left: -5%; 
  }

  .resultsCounter {
    margin-top: 20%; 
    margin-left: 0%;
    width: 100%; 
  }

  .header {
    position: sticky; 
  }
}

/*Galaxy Fold*/
@media all and (max-width: 285px) {
  .resultsContent {
    width: 90%;
    margin-top: 70%;
    margin-left: -5%; 
  }

  .resultsCounter {
    margin-top: 60%; 
    margin-left: 0%;
    width: 100%; 
  }

  .header {
    position: sticky; 
  }
}
