.podcastContent {
  background-color: white; 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 22.63px;
  height:100vh;
  width: 100%;
  margin:0;
  margin-top: -19.7%; 
  background-repeat:no-repeat;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

.resultsContent {
  margin-top: 25%; 
  margin-bottom: 0px; 
  margin-left: 60px;
}

.resultsCounter {
  margin-top: 10%;
  text-align: left; 
}

.resultsBackground {
  background-color: white; 
}

.resultsBackground .resultsBackground2 {
  position: absolute; 
}

.podcastsContainer {
  background: #F2F2F2;
}

.resultsSearch {
  width: 145%;  
  margin-left: 22vw; 
}




/*Media queries- mobile responsivity*/

/*iPad Pro size*/
@media all and (min-width: 1199px) and (max-width: 1200px) {
  .podcastContent {
    margin-top: -42%; 
  }

  .resultsContent {
    width: 100%;
    margin-top: 27%;
    margin-left: 0%; 
  }

  .resultsCounter {
    margin-top: 10%; 
    text-align: left; 
    margin-bottom: -10%;
    width: 100%; 
  }

  .resultsSearch {
    width: 450%; 
    margin-left: -50%; 
  }
  .header {
    position: sticky; 
  }
}

@media all and (min-width: 1020px) and (max-width: 1198px) {
  .podcastContent {
    margin-top: -31.8%; 
  }
  .resultsContent {
    margin-top: 30%; 
  }
}

/*Medium size*/
@media all and (min-width: 760px) and (max-width: 1019px) {
  .podcastContent {
    margin-top: -32%; 
  }

  .resultsContent {
    width: 100%;
    margin-top: 40%;
    margin-left: 0%; 
  }

  .resultsCounter {
    margin-top: 25%; 
    text-align: left; 
    margin-bottom: -10%;
    width: 100%; 
  }

  .resultsSearch {
    width: 360%; 
    margin-left: -50%; 
  }

  .header {
    position: sticky; 
  }
}

/*Small size*/
@media all and (min-width: 601px) and (max-width: 759px) {
  .podcastContent {
    margin-top: -65%; 
  }

  .resultsContent {
      width: 100%;
      margin-top: 50%;
      margin-left: 0%; 
    }
  
    .resultsCounter {
      margin-top: 25%; 
      text-align: left; 
      width: 100%; 
    }
  
    .resultsSearch {
      width: 210%; 
      margin-left: 0%; 
    }

    .header {
      position: sticky; 
    }
  }

  /*Surface Duo*/
  @media all and (min-width: 530px) and (max-width: 600px) {
    .podcastContent {
      margin-top: -56.2%; 
    }
  
    .resultsContent {
      width: 100%;
      margin-top: 60%;
      margin-left: 0%; 
    }
  
    .resultsCounter {
      margin-top: 25%;  
      text-align: left; 
      margin-bottom: 10%; 
      width: 100%; 
    }
  
    .resultsSearch {
      width: 195%; 
      margin-left: -10%; 
    }
    .header {
      position: sticky; 
    }
  }
  
  /*Pixel 2*/
@media all and (min-width: 400px) and (max-width: 529px) {
  .podcastContent {
    margin-top: -56%; 
  }

  .resultsContent {
    width: 100%;
    margin-top: 70%;
    margin-left: 0%; 
  }

  .resultsCounter {
    margin-top: 25%; 
    text-align: left; 
    margin-bottom: 10%; 
    width: 100%; 
  }

  .resultsSearch {
    width: 143%; 
    margin-left: -5%; 
  }
  .header {
    position: sticky; 
  }
}

/*Extra small size*/
@media all and (min-width: 321px) and (max-width: 399px) {
  .podcastContent {
    margin-top: -57%; 
  }

  .resultsContent {
    width: 100%;
    margin-top: 70%;
    margin-left: -5%; 
  }

  .resultsCounter {
    margin-top: 25%;   
    text-align: left; 
    width: 100%; 
  }

  .resultsSearch {
    width: 130%; 
    margin-left: -7%; 
  }
  .header {
    position: sticky; 
  }
}

/*iPhone 5/SE*/
@media all and (min-width: 286px) and (max-width: 320px) {
  .podcastContent {
    margin-top: -57%; 
  }

  .resultsContent {
    width: 100%;
    margin-top: 75%;
    margin-left: -5%; 
  }

  .resultsCounter {
    margin-top: 10%;  
    text-align: left; 
    width: 100%; 
  }

  .resultsSearch {
    width: 107%; 
    margin-left: -7%; 
  }
  .header {
    position: sticky; 
  }
}

/*Galaxy Fold*/
@media all and (max-width: 285px) {
  .podcastContent {
    margin-top: -75%; 
  }

  .resultsContent {
    width: 100%;
    margin-top: 65%;
    margin-left: -5%; 
  }

  .resultsCounter {
    margin-top: 25%;  
    text-align: left; 
    width: 100%; 
  }

  .resultsSearch {
    width: 107%; 
    margin-left: -7%; 
  }
  .header {
    position: sticky; 
  }
}