/*Card is wrapped in a button so it is clickable*/
button {
  background-color: #FFFFFF;
}

.btn-link:focus {
  text-decoration: none; 
}

.btn:visited {
border: none;
  outline: none;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn-link:hover {
  text-decoration: none;
}

/*Card styling*/
.card {
  border: none;
  max-width: 50%;
  margin-left: 25%;
}

.card-header {
  background-color: #FFFFFF;
  border: 0px;
}

.card-body {
  margin-top: -20px; 
  text-align: left;
}

.img-fluid {
  border-radius: 20%;
  padding: 5px; 
}

/*Card text styling*/
.card-text {
  color: black; 
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18.48px;
  line-height: 23.23px; 
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 21.12px;
  line-height: 26.55px; 
  color: black;
}

h6 {
  font-size: 21.12px;
  line-height: 26.55px; 
}

/*Audio player styling*/
.rhap_container, .rhap_container *:focus {
  outline: none; 
}

.rhap_container {
  margin-top: 30px;
  margin-left: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  border-color: #4045F5;
  border-style: solid; 
  border-radius: 40px;
  border-width: 1px; 
  width: 80%; 
  height: 83px;
}

.rhap_container svg {
color: #4045F5;
}

/*Volume*/
.rhap_volume-button {
  font-size: 22px;  
  margin-right: 20px; 
}

.rhap_volume-container {
  position: relative;
  right: 400px;  
  bottom: 10px; 
}
  
.rhap_volume-indicator {
  background: #6BE0CB; 
  width: 15px; 
  height: 15px; 
  top: -5px; 
  margin-left: 0;
}
  
.rhap_volume-bar-area {
  width: 200px; 
}
  
.rhap_volume-filled {
  background-color: #4045F5;
}

/*Play controls*/
.rhap_main-controls {
  position: relative;
  left: 150px; 
  bottom: 20px; 
}

.rhap_main-controls-button {
  border-radius: 50px; 
  border-color: #4045F5;
  border-style: solid;
  border-width: 1px; 
  font-size: 50px; 
  width: 50px; 
  height: 50px;
  margin-top: 15px; 
  
}

.rhap_main-controls-button svg {
  padding: 5px;
}

.rhap_play-pause-button {
  font-size: 100px; 
  width: 70px; 
  height: 70px;
  line-height: 8px; 
  padding: 2px; 
  margin-right: 20px; 
  margin-left: 20px; 
}

.rhap_play-pause-button svg {
  background-color: white;
  padding: 0px; 
  width: 65px; 
  height: 65px; 

}

/*Repeat button*/
.rhap_additional-controls {
  position: relative;
  left: 440px;
  bottom: 10px; 
}

.rhap_repeat-button {
  font-size: 22px;
}

/*Progress bar*/
.rhap_progress-section {
  position: relative;
  left: 130px; 
  bottom: 100px; 
}

.rhap_progress-bar {
  position: absolute;
  width: 260px; 
  
}

.rhap_time {
  position: relative;
  top: 20px; 
}

#rhap_current-time {
  left: 40px; 
}

.rhap_total-time {
  left: 148px; 
}

.rhap_progress-indicator {
  background: #6BE0CB;
}

.rhap_progress-filled {
  background-color: black;
}


/*Media queries- mobile responsivity*/

/*Medium size*/
@media all and (min-width: 760px) and (max-width: 1200px) {
  .card {
    margin-left: 5%; 
    max-width: 100%; 
  }

  .img-fluid {
    width: 100%; 
  }

  .cardHeader {
    margin-right: -200px; 
  }

  .card-body {
    margin-right: 30%; 
  }

  .rhap_container {
    width: 105%;
  }
  .rhap_volume-bar-area {
    width: 80px; 
  }

  .rhap_volume-container {
    margin-right: -35%;
  }

  .rhap_main-controls {
    margin-left: -20%;
  }

  .rhap_additional-controls {
    margin-left: -25%;
  }
}
  
  /*Small size*/
  @media all and (min-width: 601px) and (max-width: 759px) {
    .card {
      margin-left: -2%; 
      max-width: 100%; 
    }
  
    .img-fluid {
      width: 30%; 
      margin-right: 5%;
    }
  
    .cardHeader {
      margin-right: -200px; 
    }
  
    .card-body {
      margin-right: 30%; 
    }
  
    .rhap_container {
      width: 150%;
      margin-left: 3%;
    }
    .rhap_volume-bar-area {
      width: 50px; 
    }
  
    .rhap_volume-container {
      margin-right: -70%;
    }
  
    .rhap_main-controls {
      margin-left: -15%;
    }
  
    .rhap_additional-controls {
      margin-left: -33%;
    }

    .rhap_progress-section  {
      margin-left: -125px;
      margin-top: 20px; 
    }

    .rhap_total-time {
      margin-left: 60px; 
    }
    p {
      font-size: 16.8px;
      line-height: 21.12px; 
      text-align: center; 
    }

    h5 {
      font-size: 19.2px;
      line-height: 22.5px; 
      text-align: center; 
    }

    h6 {
      text-align: center; 
    }
  }
  
  /*Pixel 2*/
@media all and (min-width: 400px) and (max-width: 600px) {
  .card {
    margin-left: -3%; 
    max-width: 100%; 
  }

  .accordion .card {
    overflow: visible;
  }

  .img-fluid {
    width: 30%; 
    margin-right: 30%;
  }

  .cardHeader {
    margin-right: -200px; 
  }

  .card-body {
    margin-right: 30%; 
  }

  .rhap_container {
    width: 145%;
    margin-left: 8%;
  }

  .rhap_volume-bar-area {
    width: 30px;
    margin-left: -20px; 
  }

  .rhap_volume-container {
    display: none;
  }

  .rhap_main-controls {
    margin-left: -90%;
    margin-top: 4.5%;
  }

  .rhap_main-controls-button {
    margin: 5px;
  }

  .rhap_additional-controls {
    margin-left: -90%;
  }

  .rhap_progress-section  {
    margin-left: -155px;
    margin-top: 20px; 
  }

  .rhap_progress-bar {
    width: 130%; 
  }

  .rhap_total-time {
    margin-left: 60px; 
    left: 90px; 
  }
  
  p {
    font-size: 14px;
    line-height: 21.12px; 
    text-align: center; 
  }

  h5 {
    font-size: 17px;
    line-height: 22.5px; 
    text-align: center; 
  }

  h6 {
    text-align: center; 
    font-size: 16px;
  }
}

  /*Extra-small Size*/
  @media all and (min-width: 286px) and (max-width: 399px) {
    .card {
      margin-left: -3%; 
      max-width: 100%; 
    }

    .accordion .card {
      overflow: visible;
    }
  
    .img-fluid {
      width: 30%; 
      margin-right: 5%;
    }
  
    .cardHeader {
      margin-right: -200px; 
    }
  
    .card-body {
      margin-right: 30%; 
    }
  
    .rhap_container {
      width: 165%;
      margin-left: 8%;
    }

    .rhap_volume-bar-area {
      width: 30px;
      margin-left: -20px; 
    }
  
    .rhap_volume-container {
      display: none;
    }
  
    .rhap_main-controls {
      margin-left: -70%;
      margin-top: 4.5%;
    }
  
    .rhap_main-controls-button {
      margin: 5px;
    }

    .rhap_additional-controls {
      margin-left: -95%;
    }

    .rhap_progress-section  {
      margin-left: -155px;
      margin-top: 20px; 
    }

    .rhap_progress-bar {
      width: 130%; 
    }

    .rhap_total-time {
      margin-left: 60px; 
      left: 90px; 
    }
    
    p {
      font-size: 14px;
      line-height: 21.12px; 
      text-align: center; 
    }

    h5 {
      font-size: 17px;
      line-height: 22.5px; 
      text-align: center; 
    }

    h6 {
      text-align: center; 
      font-size: 16px;
    }
  }
  
  /*Galaxy Fold*/
  @media all and (max-width: 285px) {
    .accordion .card {
      overflow: visible;
    }
      .card {
        margin-left: -5%; 
        max-width: 100%; 
      }
    
      .img-fluid {
        width: 30%; 
        margin-right: 5%;
      }
    
      .cardHeader {
        margin-right: -200px; 
      }
    
      .card-body {
        margin-right: 30%; 
      }
    
      .rhap_container {
        width: 200%;
        margin-left: 8%;
      }

      .rhap_volume-bar-area {
        width: 30px;
        margin-left: -20px; 
      }
    
      .rhap_volume-container {
        display: none;
      }
    
      .rhap_main-controls {
        margin-left: -60%;
        margin-top: 4.5%;
      }
    
      .rhap_main-controls-button {
        margin: 5px;
      }
  
      .rhap_additional-controls {
        margin-left: -95%;
      }
  
      .rhap_progress-section  {
        margin-left: -155px;
        margin-top: 20px; 
      }
  
      .rhap_progress-bar {
        width: 130%; 
      }

      .rhap_total-time {
        margin-left: 60px; 
        left: 90px; 
      }
      
      p {
        font-size: 80%;
        line-height: 21.12px; 
        text-align: center; 
      }
  
      h5 {
        font-size: 80%;
        line-height: 22.5px; 
        text-align: center; 
      }
  
      h6 {
        text-align: center; 
        font-size: 80%;
      }
    }
  