button {
  background-color: #FFFFFF;
}

.btn-link:focus {
  text-decoration: none; 
}

.btn:visited {
border: none;
  outline: none;
}

p {
  font-size: 18.48px;
  line-height: 23.23px; 
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 21.12px;
  line-height: 26.55px; 
}

h6 {
  font-size: 21.12px;
  line-height: 26.55px; 
}

.rhap_volume-button {
  font-size: 22px;  
  margin-right: 20px; 
}

.rhap_container, .rhap_container *:focus {
  outline: none; 
}

.rhap_container {
  margin-top: 30px;
  margin-left: 60px;
}

.rhap_container svg {
color: #4045F5;
}

.rhap_container {
font-family: 'Source Sans Pro', sans-serif;
border-color: #4045F5;
border-style: solid; 
border-radius: 40px;
border-width: 1px; 
width: 728px; 
height: 83px;
}

.rhap_main-controls {
  position: relative;
  left: 150px; 
  bottom: 20px; 
}

.rhap_main-controls-button {
  border-radius: 50px; 
  border-color: #4045F5;
  border-style: solid;
  border-width: 1px; 
  font-size: 50px; 
  width: 50px; 
  height: 50px;
  margin-top: 15px; 
  
}

.rhap_main-controls-button svg {
  padding: 5px;
}

.rhap_play-pause-button {
  font-size: 100px; 
  width: 70px; 
  height: 70px;
  line-height: 8px; 
  padding: 2px; 
  margin-right: 20px; 
  margin-left: 20px; 
}

.rhap_play-pause-button svg {
  background-color: white;
  padding: 0px; 
  width: 65px; 
  height: 65px; 

}

.rhap_volume-container {
position: relative;
right: 400px;  
bottom: 10px; 
}

.rhap_volume-indicator {
  background: #6BE0CB; 
  width: 15px; 
  height: 15px; 
  top: -5px; 
  margin-left: 0;
}

.rhap_volume-bar-area {
  width: 200px; 
}

.rhap_volume-filled {
  background-color: #4045F5;
}

.rhap_additional-controls {
  position: relative;
left: 440px;
bottom: 10px; 
}

.rhap_repeat-button {
  font-size: 22px;
}

.rhap_progress-section {
  position: relative;
  left: 130px; 
  bottom: 100px; 
  
}

.rhap_progress-bar {
  position: absolute;
  width: 260px; 
  
}

.rhap_time {
  position: relative;
  top: 20px; 
}

#rhap_current-time {
  left: 40px; 
}

.rhap_total-time {
  left: 175px; 
}
.rhap_progress-indicator {
  background: #6BE0CB;
}

.rhap_progress-filled {
  background-color: black;
}

.card {
  border: none;
}

.card-body {
  margin-top: -20px; 
}

.card-text {
  color: black; 
}

h5 {
  color: black;
}

.btn-link:hover {
  text-decoration: none;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.card-header {
  background-color: #FFFFFF;
  border: 0px;
}


/*Card styling*/
.card {
  max-width: 50%;
  

  /*border: none;*/
  margin-left: 25%;
}

.img-fluid {
  border-radius: 20%;
  padding: 5px; 
}


.card-body {
  text-align: left;
  margin-top: 10%
}

h5 {
  font-weight: bold; 
  font-size: 16pt;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt; 
}

/*Media queries- mobile responsivity*/
/*Medium size*/
@media all and (min-width: 760px) and (max-width: 1200px) {

  }
  
  /*Small size*/
  @media all and (min-width: 400px) and (max-width: 759px) {
    
  }
  
  /*Extra small size*/
  @media all and (max-width: 399px) {
    
  }