:root {
  --mainColor: #4045F5;
  --secondaryColor: #6BE0CB;
  --text: #000000;
  --neutral: #F5F5F5;
  --background: #FFFFFF;
}

body {
  font-family: 'Playfair Display', serif;
}

.App {
  text-align: center;
  height:100vh;
  width: 100%;
  margin:0;
  background-image:radial-gradient(108.1% 108% at top left, transparent 92.4%, #4045F5 92.5%);
  background-repeat:no-repeat;
  position: fixed;
}

.logo {
  float: left;
  padding-left: 20px; 
  position: fixed;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  padding: 0;
  margin-top: 15%;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30pt;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  width: 90%;
  margin-left: 20px; 
}

.rounded, .border-0 {
background-color:#F5F5F5;

}

#searchForm {
  margin: 3%; 
  width: 90%;
}

#searchForm button {
  float: left;
  width: 10%;
 margin-left: 10px;
  color: #4B4B4B;
  font-size: 150%;
  cursor: pointer;
}

.fa-microphone:before {
  float: right;
  width: 10%;
  margin-right: 60px;
  margin-top: 13px; 
  color: #4B4B4B;
  font-size: 150%;
  cursor: pointer;
}

.form-control {
  padding: 0;
}

input.form-control {
  height: auto;
  margin-right: 40px; 
}




