/*App layout and text styling*/
body {
  font-family: 'Playfair Display', serif;
  text-align: center;
  min-height:100vh;
  height: auto;
  margin: 0;
  width: 100%;
  background-image:radial-gradient(108.1% 108% at top left, transparent 92.4%, #4045F5 92.5%);
  background-repeat:no-repeat;
  position: relative;
  overflow-x: hidden;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

/*logo styling*/
.apiLogo {
  height: 2%; 
  position: fixed; 
  bottom: 5px; 
  margin-left: -5%;
}
.logo {
  float: left;
  padding-left: 20px; 
  top: 20px; 
  position: fixed;
}


/*Media queries- mobile responsivity*/

/*Medium size*/
@media all and (min-width: 760px) and (max-width: 1200px) {
  img {
    margin-left: -15%; 
  } 

  .apiLogo {
    margin-left: -115px; 
  }
}
  
  /*Small size*/
@media all and (min-width: 601px) and (max-width: 759px) {
  img {
    margin-left: -25%; 
  }

  body {
    margin-top: 10px; 
  }

  .logo {
    margin-top: 0%;
  }

  .apiLogo {
    margin-left: -25%;
  }
}
  
/*Pixel 2*/
@media all and (min-width: 400px) and (max-width: 600px) {
  body {
    margin-top: 0px; 
  }
  .apiLogo {
    margin-left: -20%;
  }
  .logo {
    margin-top: 0%;
  }
}

  /*Extra small size*/
@media all and (min-width: 286px ) and (max-width: 399px) {
  img {
    margin-left: -25%; 
  }

  body {
    margin-top: 0px; 
  }

  .logo {
    margin-top: -3%;
  }

  .apiLogo {
    margin-left: -25%;
  }
}

/*Galaxy Fold*/
@media all and (max-width: 285px) {
  img {
    margin-left: -25%; 
  }

  body {
    margin-top: 0px; 
  }

  .logo {
    margin-top: 0%;
  }

  .apiLogo {
    margin-left: -25%;
  }
}

