:root {
  --mainColor: #4045F5;
  --secondaryColor: #6BE0CB;
  --text: #000000;
  --neutral: #F5F5F5;
  --background: #FFFFFF;
}

body {
  font-family: 'Playfair Display', serif;
}

.App {
  text-align: center;
  height:100vh;
  margin:0;
  background-image:radial-gradient(108.1% 108% at top left, transparent 92.4%, #4045F5 92.5%);
  background-repeat:no-repeat;
}

.logo {
  float: left;
  padding-left: 20px; 
  position: fixed;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
}

